.logo {
  composes: flx ai-cen col-gap-1 from global;
  color: white;
  height: 42px;
  min-height: 42px;
}

.reviewUs {
  border: 2px solid !important;
  color: rgba(255, 149, 41, 100%) !important;
  padding: 8px 16px; /* Adjust padding as needed */
}
