.idea
vendor
.DS_Store
node_modules
elFinder
css/style*
build
.wordpress-ripo
.php-cs-fixer.cache
*.tsbuildinfo
dependencies
assets/js
assets/libs
locale.pot
port
languages.sisyphus/
.phpunit*
.sisyphus/
.playwright-mcp/
