{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "semi": false,
  "bracketSpacing": true,
  "printWidth": 105,
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "endOfLine": "lf",
  "trailingComma": "none",
  "arrowParens": "avoid",
  "importOrder": ["^(^react$|@react|react)", "<THIRD_PARTY_MODULES>", "^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
