.controlContainer {
  composes: ai-cen ta-cen flxi jc-sb from global;
  background-color: var(--bg-5) !important;
  padding: 4px;
  column-gap: 4px;
  border-radius: 4px;
  margin: 16px 0;
  color: var(--txt) !important;
  font-family: var(--font-family);
  box-shadow:
    inset 23px 23px 32px var(--bg-5),
    inset -23px -23px 32px var(--bg-5);
}

.controlItem {
  composes: w-100 pos-rel pointer from global;
  border-radius: 4px;
  padding: 6px 8px;
  border: none;
  background: none;
}

.controlItemBgSolid {
  composes: pos-abs t-0 l-0 w-100 h-100 from global;
  border-radius: 4px;
  box-shadow:
    0 0 8px 0 rgba(0, 0, 0, 12%),
    0 0 1px 0 rgba(0, 0, 0, 4%);
}

.controlItemBgUnderline {
  composes: w-100 pos-abs b-0 l-0 from global;
  background: var(--accent-color);
  height: 3px;
  border-radius: 10px 10px 0 0;
}

.controlItemIcon {
  composes: flx ai-cen from global;
}

.controlItemText {
  composes: pos-rel flx ai-cen from global;
  gap: 0.25rem;
  z-index: 1;
  border: none;
}

.rounded {
  border-radius: 20px;
}

.sm {
  font-size: 12px;
  padding: 3px;
}

.md {
  font-size: 15px;
  padding: 2px 4px;
}

.lg {
  font-size: 18px;
  padding: 4px 6px;
}

.default {
  background-color: white;
}

.primary {
  background-color: hsl(var(--primary-h-s), var(--primary-l));
}

.primaryActive {
  color: var(--txt-light) !important;
}
