.InputGroup {
  composes: m-3 flx ai-cen pos-rel from global;
  width: 500px;
}

.selectInput {
  composes: pos-abs ml-2 from global;
  z-index: 2;
  left: 8px;
  border: none;
  background-color: var(--accent-color);
  padding: 7px;
  border-radius: 8px;
  color: var(--txt-1);
}

.textInput {
  composes: pos-rel w-100 py-3 fw-med txt-sm from global;
  z-index: 1;
  border-radius: 10px;
  border: none;
  padding-left: 95px;
  background-color: var(--bg-5);
  font-family: var(--font-family);
  color: var(--txt);
}

.InputGroupBtn {
  composes: pos-abs p-1 from global;
  z-index: 2;
  right: 10px;
  line-height: 0.8;
  background-color: var(--bg);
  border-radius: 10px;
  border: 1px solid var(--bg-20);
  cursor: pointer;
  transition: 0.3s ease;
  transition-property: border-color, color;
  color: var(--bg-100);
}

.copySuccessBtn {
  color: var(--green);
  border-color: var(--green);
}
