input[type=checkbox] {
  -webkit-appearance: checkbox !important;
}

input[type=radio] {
  -webkit-appearance: radio !important;
}

.fm-header {
  padding-left: 25px;
  width: 94%;
}

.fm-header > h1 {
  color: #0073AA;
  display: inline-block;
}

.fm-header > ul {
  display: inline-block;
  float: right;
}

.fm-header > ul > li {
  display: inline-block;
  margin: 5px;
  padding: 5px;
}

.fm-header .fm-logo {
  width: 50px;
  height: auto;
  position: relative;
  top: 15px;
  left: -15px;
}

.fm-header .top-right-menu {
  position: relative;
  top: 25px;
}

.fm-container .col-main .fm-data {
  border-left: 5px solid #0073AA;
  padding: 24px 0px 24px 0px;
}

.fm-container .col-main .fm-data > table {
  margin-left: auto;
  margin-right: auto;
}

.fm-container .col-main .fm-data > table > tr > tr {
  padding: 5px;
}

.fm-container .col-sidebar {
  width: 30%;
}

.fm-container .col-sidebar .fm-extensions {
  margin: 10px;
}

.fm-container .col-sidebar .fm-extensions > h2 {
  color: #0073AA;
  padding-top: 20px;
  text-align: center;
}

.fm-container {
  width: 100%;
}

.fm-container .col-main {
  width: 69%;
  min-height: 200px;
  float: left;
}

.fm-container .col-sidebar {
  width: 25%;
  padding: 3%;
  background: white;
  min-height: 200px;
  float: right;
  user-select: none;
}

.fm-container .gb-fm-row {
  width: 100%;
  background-color: white;
}

.fm-marketing a {
  color: white;
  text-decoration: none;
  font-size: 120%;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #D92519;
}

.fm-call-toaction {
  color: white;
  background-color: #D92519;
  font-size: 120%;
  padding: 10px;
  margin: 20px;
}

.fm-call-toaction:hover {
  color: white;
}

.fm-footer {
  width: max-content;
  position: fixed;
  text-align: center;
  bottom: 0;
  left: 45%;
  z-index: 99;
  background: white;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.fm-footer ul li {
  display: inline-block;
  margin-left: 10px;
}

.fmp-settings h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}

.fmp-settings > form > h4 {
  display: inline-block;
  margin-left: 20px;
}

.fmp-settings table {
  padding: 10px;
  padding-left: 20px;
}

.fmp-settings table tr td {
  padding: 10px;
}

.fmp-settings input[type=submit] {
  padding: 10px 20px 10px 20px;
  color: white;
  font-size: 120%;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #1cb841;
  cursor: pointer;
}

.fmtp_theme_wrapper {
  display: inline-block;
  width: 19%;
}

.fmtp_theme_screenshot {
  max-width: 100px;
}

.file-manager-shortcode-table {
  margin: 10px;
  padding: 10px;
}

.file-manager-shortcode-table td {
  margin: 5px;
  padding: 5px;
}

.file-manager-shortcode-table-shortcode {
  font-weight: bold;
  font-size: 120%;
}

.fmp_extend {
  background-color: #31A6CB;
  color: white;
}

.fmp_extend a {
  color: white;
}

.fm_permission_system_advert img {
  width: 25%;
  border: 2px solid cyan;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  margin-bottom: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fm_permission_system_advert span {
  width: 100%;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.footer-sticky-button {
  background: none;
  margin: 0px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 100;
  background-color: #B10C0C;
  padding: 10px;
  border-radius: 5px;
}

.footer-sticky-button a {
  text-decoration: none;
  color: white;
  font-size: 1.1em;
}

.fmp_permission_wrapper th > td {
  padding: 5px;
}

.fmp_permission_wrapper h3 {
  font-size: 120%;
  color: cyan;
}

.col-main-permission-system {
  width: inherit;
}

.col-main-permission-system > .gb-fm-row {
  padding: 20px;
}

.fmp-save {
  padding: 10px 20px 10px 20px;
  color: white;
  font-size: 120%;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #1cb841;
  cursor: pointer;
}

.fmp-update-notification {
  width: 95%;
  margin-left: 5px;
  background-color: white;
  margin-top: 10px;
  padding: 10px;
  border-left: 5px solid red;
  background-color: #F4DADA;
}

#public-folder-wrapper {
  margin: 10px;
  padding: 10px;
}

.badge-pro {
  position: relative;
}

.badge-pro[data-badge]:after {
  content: attr(data-badge);
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 1em;
  background: #B10C0C;
  color: white;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 50%;
  box-shadow: 0 0 1px #333;
}

.badge-free {
  position: relative;
}

.badge-free[data-badge]:after {
  content: attr(data-badge);
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 1em;
  background: white;
  color: black;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 50%;
  box-shadow: 0 0 1px #333;
}

.fm-error {
  border-left: 4px solid red;
  display: block;
}

.fm-donation {
  text-align: center;
  margin: 10px;
}

.fm-donation > form {
  padding-bottom: 20px;
}

.fm-donation > p {
  text-align: justify;
}

.fm-donation > h2 {
  color: #0073AA;
  padding-top: 20px;
}

.ui-widget {
  z-index: 10000;
}

.ui-widget textarea {
  font-family: Verdana,Arial,sans-serif,Trebuchet MS,Tahoma;
  font-size: 1.3em;
  background-color: #f0f0f0;
  padding: 10px;
  text-align: left;
}

.ui-dialog:nth-child(7) {
  width: 760px !important;
  top: 10px !important;
  left: 10px !important;
}

.elfinder-file-edit {
  height: 475px;
}

.ui-helper-reset:nth-child(9) {
  position: absolute !important;
  width: 760px !important;
  height: auto !important;
  top: 150px !important;
  left: 190px !important;
}

.elfinder-quicklook-preview {
  height: 510px;
}

.elfinder-quicklook-navbar-icon:nth-child(2) {
  display: none;
}

.ui-icon:nth-child(4) {
  display: none !important;
}

.ui-helper-clearfix.ui-dialog-buttonpane.ui-widget-content {
  font-size: 12px;
}

.ui-helper-clearfix.ui-dialog-buttonpane.ui-widget-content .ui-dialog-buttonset.elfinder-edit-extras .ui-corner-all {
  margin-top: 0px;
}

.ui-helper-clearfix .ui-button-icon-only {
  min-width: 125px;
}

.ui-helper-clearfix .ui-button-icon-only .ui-button-icon.ui-icon.ui-icon-gear {
  left: 12px;
}

.ui-helper-clearfix .ui-corner-all {
  margin-top: 0px;
}

#ace_settingsmenu {
  top: 32px;
}

.elfinder-button-search-menu {
  top: 32px !important;
}

.elfinder-maximized {
  top: 32px !important;
  left: 30px !important;
  width: 96% !important;
}

.elfinder-maximized .ui-dialog-content.ui-widget-content.elfinder-edit-editor {
  height: 81% !important;
}

.sudo-permission-system .col-main {
  width: 100%;
}

.sudo-permission-system .col-main .gb-fm-row img {
  width: 100%;
}

.sudo-permission-system .col-main .fmp-demo-notice {
  width: 98%;
  padding-left: 5px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sudo-permission-system .col-main .fmp-demo-notice button {
  padding: 15px;
  border-radius: 0px;
  color: white;
  background-color: #1CB841;
  font-weight: bold;
  border: 0px;
}

.sudo-permission-system .col-main .fmp-demo-notice button:hover {
  color: #1CB841;
  padding: 14px;
  background-color: #F1F1F1;
  border: 1px solid #1CB841;
  cursor: pointer;
}

.review-block {
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
  font-size: 1.2em;
  border: 1px dashed #0d5ed9;
  border-radius: 10px;
}

.review-block .message {
  margin: 16px;
  margin-top: 8px;
}

.review-block .actions {
  margin-top: 24px;
}

.review-block .actions a {
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border: 1px solid #0d5ed9;
}

.review-block .actions .btn {
  border-radius: 5px;
}

.review-block .actions .btn-review {
  background-color: #0d5ed9;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  transition-duration: 0.6s;
}

.review-block .actions .btn-review:hover {
  transition-duration: 0.6s;
  color: #0d5ed9;
  background-color: white;
  border: 2px solid #0d5ed9;
}

.review-block .actions .btn-not-interested {
  color: gray;
  font-weight: 400;
  border: 0px;
  font-size: 1em;
}

@media (max-width: 480px) {
  .fm-container {
    width: 98vw;
  }
  .fm-container .col-main {
    width: 100%;
  }
  .fm-container .col-sidebar {
    width: 90%;
    padding: 7%;
  }
  .fm-container .gb-fm-row {
    height: fit-content;
  }
  .fm-header {
    display: flex;
    flex-flow: column;
  }
  .fm-header > h1 {
    min-width: max-content;
  }
  .fm-header > ul {
    display: none;
  }
  .fm-footer {
    width: 100%;
    bottom: 0px;
    left: 0;
    border-radius: 0;
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */