/* stylelint-disable */
.tippy-box[data-theme~='light'] {
  color: #26323d;
  box-shadow:
    0 2.4041px 1.356px 0 hsla(0deg, 0%, 0%, 3%),
    0 4.6704px 3.2585px 0 hsla(0deg, 0%, 0%, 5%),
    0 6.7969px 6.1356px 0 hsla(0deg, 0%, 0%, 6%),
    0 8.8363px 10.9448px 0 hsla(0deg, 0%, 0%, 7%),
    0 11.2514px 20.471px 0 hsla(0deg, 0%, 0%, 9%),
    0 24px 49px 0 hsla(0deg, 0%, 0%, 12%);
  background-color: var(--bg-90);
  border: 1px solid hsla(0deg, 0%, 93%, 100%);
}

.tippy-box[data-theme~='light'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: var(--bg-90);
}

.tippy-box[data-theme~='light'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: var(--bg-90);
}

.tippy-box[data-theme~='light'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: var(--bg-90);
}

.tippy-box[data-theme~='light'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: var(--bg-90);
}

.tippy-box[data-theme~='light'] > .tippy-backdrop {
  background-color: var(--bg-90);
}

.tippy-box[data-theme~='light'] > .tippy-svg-arrow {
  fill: var(--bg);
}

.tippy-box {
  border-radius: calc(var(--border-rad) - 2px);
}
