/* stylelint-disable alpha-value-notation */
.elfinder-ltr .elfinder-path {
  opacity: 0;
}

.fm-cursor-pointer {
  cursor: pointer;
}

.ui-widget textarea {
  font-family: Verdana, Arial, sans-serif, 'Trebuchet MS', Tahoma;
  font-size: 1.3em;
  background-color: #f0f0f0;
  padding: 10px;
  text-align: left;
}

.elfinder div.elfinder-bottomtray {
  bottom: 40px !important;
  left: 180px !important;
}

.elfinder-quicklook-titlebar-icon {
  right: -90%;
  font-size: 6px;
  padding: 5px;
  color: #faebd7 !important;
}

.elfinder-quicklook-titlebar-icon .ui-icon.ui-icon-closethick {
  background-color: #e46962 !important;
}

.elfinder-quicklook-titlebar-icon .ui-icon.ui-icon-minusthick {
  background-color: #4d6351 !important;
}

.elfinder-quicklook-titlebar-icon .ui-icon.ui-icon-plusthick {
  background-color: #55885d !important;
}

.elfinder-dialog.elfinder-to-editing.elfinder-dialog-edit {
  top: 32px !important;
  height: max-content !important;
}

.elfinder-to-editing.elfinder-dialog-edit.elfinder-maximized {
  top: 32px !important;
  left: 165px !important;
  right: 20px;
  max-width: calc(100% - 180px) !important;
  height: 81% !important;
}

.elfinder-rtl > .elfinder-to-editing.elfinder-dialog-edit.elfinder-maximized {
  right: 165px !important;
}

.ui-dialog:nth-child(7) {
  width: 760px !important;
  top: 10px !important;
  left: 10px !important;
}

.elfinder-file-edit {
  height: 475px;
}

.ui-helper-reset:nth-child(9) {
  position: absolute !important;
  width: 760px !important;
  height: auto !important;
  top: 150px !important;
  left: 190px !important;
}

.elfinder-quicklook-preview {
  height: 510px;
}

.elfinder-quicklook-navbar-icon:nth-child(2) {
  display: none;
}

.ui-icon:nth-child(4) {
  display: none !important;
}

.ui-corner-all {
  margin-top: 0;
}

.ui-helper-clearfix.ui-dialog-buttonpane.ui-widget-content {
  font-size: 12px;
}

.ui-helper-clearfix.ui-dialog-buttonpane.ui-widget-content
  .ui-dialog-buttonset.elfinder-edit-extras
  .ui-corner-all {
  margin-top: 0;
}

.ui-helper-clearfix .ui-button-icon-only {
  min-width: 125px;
}

.ui-helper-clearfix .ui-button-icon-only .ui-button-icon.ui-icon.ui-icon-gear {
  left: 12px;
}

#ace_settingsmenu {
  top: 32px;
}

.elfinder-button-search-menu {
  top: 32px !important;
}

.elfinder-dialog-error .ui-dialog-content,
.elfinder-dialog-confirm .ui-dialog-content {
  padding-left: 56px;
  min-height: 35px;
}

@media (max-width: 700px) {
  .elfinder-to-editing.elfinder-dialog-edit.elfinder-maximized {
    top: 32px !important;
    left: 40px !important;
    max-width: calc(100% - 45px) !important;
  }
}

/* --Telemetry-Popup-ant-modal-custom-css-- */

.telemetry-popup .ant-modal-content {
  background-color: white !important;
}

.telemetry-popup .ant-modal-header {
  background: white !important;
}

.telemetry-popup .ant-modal-title {
  color: #000 !important;
}

.telemetry-popup .ant-modal-body p {
  color: #000;
}

.telemetry-popup .ant-btn-primary {
  background: #1677ff;
  box-shadow: none;
}

.telemetry-popup .ant-btn-primary:hover {
  background: #4096ff !important;
}

.telemetry-popup .ant-btn-default {
  background: none !important;
  border: none;
  padding: 0;
}

.telemetry-popup .ant-btn-default:hover {
  background: none;
  transition: none;
}

.telemetry-popup .ant-steps-item-process .ant-steps-item-icon {
  background-color: #1677ff !important;
  border-color: #1677ff !important;
}

.telemetry-popup .ant-steps-item-wait .ant-steps-item-icon {
  background-color: #f0f0f0 !important;
  border-color: transparent !important;
}

.telemetry-popup .ant-steps-item-wait .ant-steps-item-icon span {
  color: rgba(0, 0, 0, 0.65) !important;
}

.telemetry-popup .ant-steps-item-finish .ant-steps-item-icon {
  background-color: #e6f4ff !important;
  border-color: #e6f4ff !important;
}

.telemetry-popup .ant-checkbox-inner {
  background-color: #fff !important;
  border-color: #d9d9d9 !important;
}

/* .telemetry-popup .ant-checkbox-wrapper span{ 
  color: rgba(0, 0, 0, 0.88)!important;
} */

.telemetry-popup .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #4096ff !important;
}

.telemetry-popconfirm .ant-popover-content .ant-popover-inner {
  width: 450px;
  background-color: #fff !important;
}

.telemetry-popconfirm .ant-popconfirm-title,
.ant-popconfirm-description {
  color: #000 !important;
}

.telemetry-popconfirm .ant-popconfirm-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  flex-flow: row-reverse;
}

.telemetry-popconfirm .ant-popconfirm-buttons .ant-btn-default {
  background: #1677ff;
  box-shadow: none;
  border-color: transparent !important;
}

.telemetry-popconfirm .ant-popconfirm-buttons .ant-btn-default:hover {
  background: #4096ff !important;
  color: #fff !important;
  border-color: none;
}

.telemetry-popconfirm .ant-popconfirm-buttons .ant-btn-primary {
  background: none;
  border: none;
  box-shadow: none;
  color: #776d6d;
}

.telemetry-popconfirm .ant-popconfirm-buttons .ant-btn-primary:hover {
  background: none !important;
  color: #534e4e !important;
}

/* --Telemetry-Popup-ant-modal-custom-css-- */

/*--ant-header--*/

.ant-layout-header {
  line-height: 10px !important;
  padding-top: 20px !important;
}

/*--ant-header--*/

/*--bit-social-release-modal--*/

.bit-social-release-modal img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.bit-social-release-modal .ant-modal-content {
  padding: 0 !important;
  text-align: center;
}

.bit-social-release-modal .ant-modal-close-x {
  color: black;
}

/*--bit-social-release-modal--*/
