.dropDownBtn {
  composes: flx ai-cen pointer m-0 p-0 from global;
  background: none;
  border: none;
  padding: 0.1875rem;
  transition: 0.5s all ease;
  border-radius: 50%;
  outline: none;
}

.dropDownBtn:hover {
  background-color: var(--bg-10);
}

.dropDownBtn:focus-within {
  box-shadow: var(--focus-shadow);
}
